.Card1 {
  border: 1px solid rgba(218, 25, 25, 0.541);
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  margin: 20px auto;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  background-color: rgb(196, 133, 159);
}
.imgg img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
